<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PANDAI</title>
    <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
.back {
      background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
    }
.delete {
	 background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
    .separator {
      padding-bottom:30px;
    }
</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
	    <!-- ============================================================== -->
	    <!-- navbar -->
	    <!-- ============================================================== -->
	    <div class="dashboard-header">
	        <nav class="navbar navbar-expand-lg bg-white fixed-top">
	            <a class="navbar-brand" href="index.html">PANDAI </a>
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse " id="navbarSupportedContent">
	                
	            </div>
	        </nav>
	    </div>
	    <!-- ============================================================== -->
	    <!-- end navbar -->
	    <!-- ============================================================== -->
	    <!-- ============================================================== -->
	    <!-- left sidebar -->
	    <!-- ============================================================== -->
	    <div class="nav-left-sidebar sidebar-dark">
	        <div class="menu-list">
	            <nav class="navbar navbar-expand-lg navbar-light">
	                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
	                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	                    <span class="navbar-toggler-icon"></span>
	                </button>
	                <div class="collapse navbar-collapse" id="navbarNav">
	                    <ul class="navbar-nav flex-column">
	                        <li class="nav-divider">
	                        </li>
	                        <li class="nav-item ">
	                            <a class="nav-link active" href="{% url 'index' %}" ><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
	                           
	                        </li>
							 <li class="nav-divider">
	                           Employees Master
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="{% url 'add_emp' %}"><i class="fa fa-fw fa-rocket"></i>Add Employee</a>
	                            
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link active" href="{% url 'add_photos' %}"><i class="fas fa-fw fa-chart-pie"></i>Add Photos</a>
	                        </li>

							<li class="nav-item ">
	                            <a class="nav-link" href="{% url 'temperature' %}"><i class="fab fa-fw fa-wpforms"></i>Check Employee temperature</a>
	            
	                        </li>
							<li class="nav-item ">
	                            <a class="nav-link" href="{% url 'signin_signout' %}"><i class="fab fa-fw fa-wpforms"></i>Check Employee Signin - Signout time</a>
	            
	                        </li>
	                        <li class="nav-item ">
	                            <a class="nav-link" href="{% url 'detected' %}"><i class="fab fa-fw fa-wpforms"></i>Check Employee Log</a>
	            
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="{% url 'train_model' %}"><i class="fas fa-fw fa-table"></i>Train Model</a>
	                        </li>
	                        <li class="nav-divider">
	                            Start Detection Tool
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="{% url 'identify' %}"><i class="fas fa-fw fa-file"></i> Start Camera </a>
	                            
	                        </li>
	                        
	                        
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	    </div>
	    <!-- ============================================================== -->
	    <!-- end left sidebar -->
	    <!-- ============================================================== -->
	    <!-- ============================================================== -->
	    <!-- wrapper  -->
	    <!-- ============================================================== -->
	    <div class="dashboard-wrapper">
	        <div class="dashboard-influence">
	            <div class="container-fluid dashboard-content">
				  <h3>Add Photos to the Employees</h3>
          <div class="separator"><a href="http://127.0.0.1:8000"><div class = "back"> Back to Dashboard</div></a> </div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for id.." style="float: right;padding: 10px;">

  <table id="myTable">
    	<tr class="header">
      	<th width="200">ID</th>
      	<th width="300">Name</th>
        <th width="100">Photos</th>
         <th width="150">Add Photos</th>
		 <th width ="50"> Delete Entry </th>

  	</tr>

  	{% for emp in emp_list %}
  		<tr style="height: 50px; width: 50px;">
  			<td>{{emp.id}}</td>
  			<td><a href="{% url 'click_photos' emp.id %}">{{emp.name}}</a></td>
        <td>{{emp.num_photos}}</td>
        <td><div class="separator"><a href="{% url 'click_photos' emp.id %}"><div class = "back"> Add Photos to the  {{emp.name}}</div></a> </div></td>
		<td><div class="separator"><a href="#"><div class = "delete"> Delete {{emp.name}}'s data</div></a> </div></td>

  		</tr>
  	{% endfor %}
  </table>
	                </div>
					</div></div>
	                    
</body>
 <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</html>
{% endblock %}